@import url("https://fonts.googleapis.com/css?family=Roboto");

:host {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
}

#source {
  background: rgba(27, 31, 35, 0.08);
  width: 290px;
  padding: 8px;
  border-radius: 20px;
  margin: 15px auto;
  text-align: center;
}

#source a {
  font-weight: bold;
  color: #ff6e00;
}

table td {
  vertical-align: top;
}

#cameraTableContainer {
  margin: 0 0 20px 0;
  width: 100%;
  padding: 0 20px;
  height: 100%;
  vertical-align: top;
}

#cameraTableContainer > td {
  width: 25%;
  text-align: center;
}

#cameraTableContainer table {
  width: 450px;
  margin: auto;
  height: 100%;
  border-collapse: collapse;
}

#cameraTableContainer table thead tr:first-child th {
  height: 75px;
  background-color: #272727;
  color: #7f7f7c;
  font-size: 3em;
}

#cameraTableContainer table tr:nth-child(2) th {
  text-align: left;
  height: 25px;
}

#cameraTableContainer table tbody tr {
  height: 25px;
  vertical-align: middle;
}

#cameraTableContainer table tbody td {
  padding: 5px 0;
}
